* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}

:root {
    --bg-color: #101010;
    --second-bg-color: #191919;
}

.container {
    /* OPTION 1 */
    grid:repeat(2, 1000px);
   
    /* OPTION 2 */
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    align-items: start; */
}

.tutorial {
    /* background: var(--bg-color); */
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.myown__options {
 display:inline-block;
 display:flex;
 align-items: center;

}

.myown__canvas .myown__options {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}













/*
MY ATTEMPT NO.1

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    align-items: center;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, minmax(100px, auto));
    margin: auto;
  
}

.tutorial {
    display: grid;
    grid-column: 1 / 10;
    grid-row: 1 / 5;
    justify-content: center;
 
}
.myown {
   display: grid;
   grid-column: 1 / 10;
   grid-row: 5 / 10;
   grid-template-columns: subgrid;
   grid-template-rows: subgrid;
   
}
.myown p {
    grid-column: 3 / 7;
    grid-row: 5 / 6;
    justify-content: center;
}
.myCanvas {
    grid-column: 1 / 7;
    grid-row: 6 / 10;
    justify-content: center;
}

.myown__content {
    grid-column: 7 / 10;
    grid-row: 6 / 10;
    justify-content: center;
}
*/