* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    align-items: center;
    text-align: center;
}

.container {
  
    
}

.tutorial {
 
}
.myown {
    display: grid;
    grid: 100% / 9fr 1fr;
  
     
}
input output {
    position: relative;
}
